body {
  background-image: url("fondonaranja.jpg");
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-size: 100% 105%;
}

h1{
  text-align: center;
  color: white;
  font-size: 100px;
}

h2{
  text-align: center;
}

p {
    text-align: center;
    background-color: yellow;
}

button {
    margin: 9px;
    padding: 20px 20px;
    font-size: 30px;
    border-radius: 90px;
    background-color: green;
}



.calculadora {
    text-align: center;
    background-color:rgba(30, 90, 30 ,0.5);
    border: 10px brown dashed;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius:120px ;
    border-bottom-right-radius:120px;
    padding: 50px;
    width: 500px;
}
