body {
  background-image: url("fondonaranja.jpg");
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-size: 100% 105%;
}

h1{
  text-align: center;
  color: white;
  font-size: 100px;
}

h2{
  text-align: center;
}

p {
    text-align: center;
    background-color: pink;
}

button {
    margin: 9px;
    padding: 20px 20px;
    font-size: 18px;
    border-radius: 60px;
    background-color: blue;
}



.calculadora {
    text-align: center;
    background-color:rgba(110, 30, 90 ,0.5);
    border: 20px blue dashed;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius:70px ;
    border-bottom-right-radius:70px;
    padding: 50px;
    width: 500px;
}
